<header block="app-header" mix="block:mt-4" id="main-screen">
    <div elem="section" style="background: url('img/main-img.jpg') 50% 0 no-repeat;">
        <div elem="header-line">
            <a elem="logo" href="/"><img src="img/logo.png" alt=""></a>
            <nav elem="navbar" class="js-navbar-clone js-nav-to-anchor">
                <ul>
                    <li><a href="#main-screen">Главная</a></li>
                    <li><a href="#about-us">О нас</a></li>
                    <li><a href="#bestsellers">Хиты продаж</a></li>
                    <li><a href="#cooperative">Сотрудничество</a></li>
                    <li><a href="#contacts">Контакты</a></li>
                </ul>
            </nav><!-- e:navbar -->

            {% include "burger-menu.html" %}
            
        </div><!-- e:header-line -->

        <div elem="hero">

            <h1>
                Корейская
                косметика
                Secret Key
                оптом
            </h1>

            <a elem="btn" class="site-btn" href="#" data-remodal-target="modal">Оставить заявку</a><!-- e:btn -->

        </div><!-- e:hero -->
    </div><!-- e:section -->
</header><!-- b:app-header -->
