.app-header
    flex none
    background-color #d6b58b

    &__section
        width 1920px
        max-width 100%
        padding 26px 40px 157px 60px
        margin 0 auto
        background-size cover !important

        @media (max-width 1600px)
            background-position-y 45px !important

        @media (max-width 640px)   
            padding-right 20px
            padding-left 20px

        @media (max-width 480px)   
            padding-bottom 60px

        @media (max-width 440px)
            background none !important    

    &__header-line
        display flex
        align-items center
        justify-content space-between
        margin-bottom 140px

        @media (max-width 960px) 
            position fixed
            margin-left -50px
            margin-right -50px
            background-color #d6b58b
            top 0
            left 50px
            padding 10px 15px
            width 100%
            max-width 100%
            z-index 100
            box-shadow -1px 1px 20px 4px rgba(168,132,97,0.93)

    &__logo
        flex 0 0 193px
        width 193px
        max-width 193px
        display block

        img 
            max-width 100%
            height auto

        @media (max-width 960px) 
            flex 0 0 130px
            width 130px
            max-width 130px

    &__navbar

        @media (max-width 960px)
            display none
            
        ul
            display flex
            list-style-type none
            padding-left 0
            margin-bottom 0

            li
                margin-right 25px
                &:last-child
                    margin-right 0

                a
                    font-size 18px
                    color #171411
                    font-weight 400
                    line-height 24px
                    text-decoration none
                    display block
                    transition color .3s
                    &:hover
                        color #f25d55

    &__hero
        width 365px
        max-width 100%

        @media (min-width 1440px)
            margin-left 145px

        @media (max-width 960px) 
            margin-top 100px    

        @media (max-width 640px)   
            width 240px   

        @media (max-width 440px)
            width 100%    

        h1
            font-size 64px
            color #171411
            font-weight 700
            line-height 71px
            margin-bottom 35px

            @media (max-width 1023px)
                font-size 45px
                line-height 45px
            
            @media (max-width 640px)
                font-size 34px
                line-height 36px
                margin-bottom 30px