<section block="b-cooperative" id="cooperative">
    <div elem="section" class="contain">
        <div elem="top">
            <h2 elem="title">Сотрудничество</h2>
            <div elem="sub-title">Чтобы Secret Key оказался на полках вашего магазина необходимо:</div>
        </div><!-- e:top -->

        <div elem="items">
            <div elem="item">
                <div elem="head">
                    <div elem="icon">
                        <img src="img/cooperative-icon.png" alt="">
                    </div>
                    <div elem="number">1</div>
                </div><!-- e:head -->
                <div elem="desc">Оставить заявку</div><!-- e:desc -->
            </div><!-- e:item -->

            <div elem="item">
                <div elem="head">
                    <div elem="icon">
                        <img src="img/cooperative-icon2.png" alt="">
                    </div>
                    <div elem="number">2</div>
                </div><!-- e:head -->
                <div elem="desc">
                    Дождаться звонка
                    менеджера (турбо
                    скорость гарантируем) 
                </div><!-- e:desc -->
            </div><!-- e:item -->

            <div elem="item">
                <div elem="head">
                    <div elem="icon">
                        <img src="img/cooperative-icon3.png" alt="">
                    </div>
                    <div elem="number">3</div>
                </div><!-- e:head -->
                <div elem="desc">
                    Получить прайс
                    и сделать заказ
                </div><!-- e:desc -->
            </div><!-- e:item -->
        </div><!-- e:items -->
    
    </div><!-- e:section -->
</section><!-- b:b-cooperative -->