.b-cooperative
    padding 125px 0

    @media (max-width 1023px)
        padding-top 50px
        padding-bottom 50px 

    @media (max-width 640px)
        padding-top 25px
        padding-bottom 25px     

    &__top
        text-align center
        margin-bottom 70px

        @media (max-width 768px)
            margin-bottom 25px

    &__title
        color #171411
        font-size 33px
        font-weight 700  
        line-height 50px

        @media (max-width 768px)
            font-size 28px

    &__sub-title
        color #000
        font-size 18px
        font-weight 400
        line-height 24px

        @media (max-width 768px)
            font-size 20px

        @media (max-width 440px)   
            font-size 18px
    &__items
        display flex
        justify-content space-between
        width 950px
        max-width 100%
        margin 0 auto

        @media (max-width 650px)
            width 100%
            justify-content space-around
            flex-wrap wrap

    &__item
        flex 0 0 205px
        width 205px
        max-width 205px 
        text-align center
        position relative
        &:after
            content ''
            position absolute
            top 85px
            right -85px
            width 32px
            height 32px
            border-right 1px solid #000
            border-bottom 1px solid #000
            transform rotate(-45deg)

            @media (max-width 900px)
                display none

        &:last-child
           &:after
               display none 

        @media (max-width 650px)
            margin-bottom 20px

        @media (max-width 650px)
            flex 0 0 300px
            width 300px
            max-width 300px 


    &__head
        width 190px
        height 191px
        display flex
        justify-content center
        align-items center
        border-radius 50%
        background-color #ede2bf
        margin 0 auto 15px
        position relative

    &__icon
        font-size 0
        flex 0 0 125px
        width 125px
        max-width 125px
        img 
            max-width 100%
            height auto  

    &__number
        font-size 33px
        color #fff
        font-weight 700              
        width 48px
        height 48px
        background-color #e5a154
        border-radius 50%
        display flex
        justify-content center
        align-items center
        position absolute
        top 7px
        left -10px

    &__desc
        font-size 18px
        color #000
        font-weight 400
        line-height 27px    