::-moz-selection {
  background: #3e50b4;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #3e50b4;
  color: #fff;
  text-shadow: none;
}

::-webkit-input-placeholder {
  color: rgba(0,0,0,0.87);
}

:-moz-placeholder {
  color: rgba(0,0,0,0.87);
}

::-moz-placeholder {
  color: rgba(0,0,0,0.87);
}

:-ms-input-placeholder {
  color: rgba(0,0,0,0.87);
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

* {
  min-width: 0;
  min-height: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
}

html {
  font-size: 17px;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  color: rgba(0,0,0,0.87);
  background-color: #fff;
  -webkit-font-feature-settings: kern, liga, onum;
          font-feature-settings: kern, liga, onum;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: inherit;
}

blockquote {
  font-style: normal;
  padding: 15px;
  padding-left: 20px;
  border-left: 5px solid #3e50b4;
  background-color: rgba(62,80,180,0.03);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  color: rgba(0,0,0,0.87);
  text-transform: none;
}

h1::-moz-selection,
.h1::-moz-selection,
h2::-moz-selection,
.h2::-moz-selection,
h3::-moz-selection,
.h3::-moz-selection,
h4::-moz-selection,
.h4::-moz-selection,
h5::-moz-selection,
.h5::-moz-selection,
h6::-moz-selection,
.h6::-moz-selection {
  background: #3e50b4;
  color: #fff;
  text-shadow: none;
}

h1::selection,
.h1::selection,
h2::selection,
.h2::selection,
h3::selection,
.h3::selection,
h4::selection,
.h4::selection,
h5::selection,
.h5::selection,
h6::selection,
.h6::selection {
  background: #3e50b4;
  color: #fff;
  text-shadow: none;
}

template,
[hidden] {
  display: none;
}

.font-thin {
  font-weight: 100;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 900;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  -webkit-overflow-scrolling: touch;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

svg:not(:root) {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.contain {
  width: 1455px;
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

.site-btn {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  padding: 12px 20px 15px;
  text-align: center;
  background-color: #f25d55;
  display: inline-block;
  transition: background-color 0.3s;
}

.site-btn:hover {
  background-color: #f36d66;
}

.site-btn:active {
  background-color: #f14f46;
}

.main-svg-sprite {
  display: none;
}

.svg-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: currentColor;
  font-size: 0;
}

.svg-icon__spinner {
  fill: inherit;
  width: inherit;
  height: inherit;
  -webkit-animation-name: spinner;
          animation-name: spinner;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.svg-icon__link {
  vertical-align: top;
  fill: inherit;
  width: inherit;
  height: inherit;
}

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 20px 0;
  background: #ccc;
  color: #000;
  padding: 20px 0;
}

.demo-box {
  background-color: #009688;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.theme-color {
  color: #3e50b4;
}

.theme-bgc {
  background-color: #3e50b4;
}

.app-footer {
  -ms-flex: none;
      flex: none;
  background-color: #ede1be;
}

.app-footer__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1035px;
  max-width: 100%;
  padding-top: 95px;
  padding-bottom: 120px;
  margin: 0 auto;
}

.app-footer__item--address {
  -ms-flex: 0 0 335px;
      flex: 0 0 335px;
  width: 335px;
  max-width: 335px;
}

.app-footer__item--contacts {
  -ms-flex: 0 0 180px;
      flex: 0 0 180px;
  width: 180px;
  max-width: 180px;
}

.app-footer__item--feedback {
  -ms-flex: 0 0 280px;
      flex: 0 0 280px;
  width: 280px;
  max-width: 280px;
}

.app-footer__title {
  font-size: 33px;
  color: #171411;
  font-weight: 700;
  margin-bottom: 20px;
}

.app-footer__body {
  font-size: 18px;
  color: #000;
  font-weight: 400;
  line-height: 27px;
}

.app-footer__body p {
  margin-bottom: 35px;
}

.app-footer__body p:last-child {
  margin-bottom: 0;
}

.app-footer__body p a {
  font-size: 18px;
  color: #000;
  font-weight: 400;
  line-height: 27px;
  text-decoration: none;
}

.app-footer__bot-line {
  padding: 40px 0;
  background-color: #332723;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.app-footer__logo {
  -ms-flex: 0 0 193px;
      flex: 0 0 193px;
  width: 193px;
  max-width: 193px;
  margin-right: 40px;
}

.app-footer__logo img {
  max-width: 100%;
  height: auto;
}

.app-footer__phone {
  font-size: 34px;
  color: #f8f4eb;
  font-weight: 400;
  text-decoration: none;
}

.app-footer__name {
  margin-bottom: 10px;
}

.app-footer__sicial a {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  margin-bottom: 5px;
}

.app-footer__sicial a .fab {
  font-size: 24px;
  color: #f25d55;
  transition: color 0.3s;
}

.app-footer__sicial a:hover .fa-instagram {
  color: #ff0084;
}

.app-footer__sicial a:hover .fa-facebook-f {
  color: #3b5999;
}

.app-footer__sicial a:hover .fa-vk {
  color: #4c75a3;
}

.app-header {
  -ms-flex: none;
      flex: none;
  background-color: #d6b58b;
}

.app-header__section {
  width: 1920px;
  max-width: 100%;
  padding: 26px 40px 157px 60px;
  margin: 0 auto;
  background-size: cover !important;
}

.app-header__header-line {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 140px;
}

.app-header__logo {
  -ms-flex: 0 0 193px;
      flex: 0 0 193px;
  width: 193px;
  max-width: 193px;
  display: block;
}

.app-header__logo img {
  max-width: 100%;
  height: auto;
}

.app-header__navbar ul {
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.app-header__navbar ul li {
  margin-right: 25px;
}

.app-header__navbar ul li:last-child {
  margin-right: 0;
}

.app-header__navbar ul li a {
  font-size: 18px;
  color: #171411;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  display: block;
  transition: color 0.3s;
}

.app-header__navbar ul li a:hover {
  color: #f25d55;
}

.app-header__hero {
  width: 365px;
  max-width: 100%;
}

.app-header__hero h1 {
  font-size: 64px;
  color: #171411;
  font-weight: 700;
  line-height: 71px;
  margin-bottom: 35px;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  min-height: 100vh;
}

.app {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
}

.app__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
}

.app__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}

.app__main {
  -ms-flex: 1 1;
      flex: 1 1;
}

.app__aside--left {
  -ms-flex-order: -1;
      order: -1;
  -ms-flex: 0 0 300px;
      flex: 0 0 300px;
}

.app__aside--right {
  -ms-flex: 0 0 300px;
      flex: 0 0 300px;
}

.b-about-us {
  background-color: #fdfbf6;
  padding-top: 65px;
  padding-bottom: 75px;
  text-align: center;
}

.b-about-us__title {
  color: #171411;
  font-size: 33px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 25px;
}

.b-about-us__desc {
  color: #000;
  font-size: 23px;
  font-weight: 400;
  line-height: 36px;
}

.b-about-us__desc p {
  margin: 0;
}

.b-bestsellers {
  padding-top: 80px;
  padding-bottom: 110px;
  background-color: #fdfbf6;
}

.b-bestsellers__section {
  width: 1290px;
}

.b-bestsellers__title {
  color: #171411;
  font-size: 33px;
  font-weight: 700;
  text-align: center;
  line-height: 50px;
  margin-bottom: 40px;
}

.b-bestsellers__items {
  position: relative;
}

.b-bestsellers .owl-carousel .owl-stage-outer {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.b-bestsellers .owl-carousel .owl-stage {
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 15px;
}

.b-bestsellers .owl-carousel .owl-item {
  display: -ms-flexbox;
  display: flex;
}

.b-bestsellers .owl-carousel .owl-prev,
.b-bestsellers .owl-carousel .owl-next {
  position: absolute;
  width: 32px;
  height: 32px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}

.b-bestsellers .owl-carousel .owl-prev {
  top: 50%;
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.b-bestsellers .owl-carousel .owl-next {
  top: 50%;
  right: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.b-bestsellers__item {
  color: #000;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  max-width: 100%;
  padding: 50px;
  background-color: #fff;
  box-shadow: 7px 6px 7px 1px rgba(201,194,187,0.16);
}

.b-bestsellers__img {
  width: 253px;
  max-width: 100%;
  margin: 0 auto 35px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.b-bestsellers__img img {
  max-width: 100%;
  height: auto;
}

.b-bestsellers__top {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
}

.b-bestsellers__name {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 10px;
}

.b-bestsellers__desc {
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 15px;
}

.b-bestsellers__desc p {
  margin: 0;
}

.b-bestsellers__price {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
}

.b-bestsellers__price .fa-ruble-sign {
  font-size: 18px;
}

.b-burger-menu {
  position: relative;
  display: none;
}

.b-burger-menu__btn {
  width: 38px;
  height: 38px;
  padding: 5px;
  background-color: #f25d55;
  border: none;
  position: relative;
  outline: none !important;
}

.b-burger-menu__btn span:before {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.b-burger-menu__btn span:after {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.b-burger-menu__btn span,
.b-burger-menu__btn span:before,
.b-burger-menu__btn span:after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -1px;
  width: 20px;
  height: 2px;
  background-color: #fff;
}

.b-burger-menu__btn span:before,
.b-burger-menu__btn span:after {
  content: '';
  display: block;
  transition: 0.2s;
}

.b-burger-menu__btn.btn-active span {
  height: 0;
}

.b-burger-menu__btn.btn-active span:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.b-burger-menu__btn.btn-active span:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.b-burger-menu__nav {
  width: 300px;
  padding: 20px;
  background-color: #d6b58b;
  position: absolute;
  left: -247px;
  top: 55px;
  box-shadow: 0px 5px 20px 4px rgba(168,132,97,0.93);
  display: none;
}

.b-burger-menu__nav ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.b-burger-menu__nav ul li {
  margin-bottom: 15px;
}

.b-burger-menu__nav ul li:last-child {
  margin-bottom: 0;
}

.b-burger-menu__nav ul li a {
  font-size: 18px;
  color: #171411;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  display: block;
  transition: color 0.3s;
}

.b-burger-menu__nav ul li a:hover {
  color: #f25d55;
}

.b-cooperative {
  padding: 125px 0;
}

.b-cooperative__top {
  text-align: center;
  margin-bottom: 70px;
}

.b-cooperative__title {
  color: #171411;
  font-size: 33px;
  font-weight: 700;
  line-height: 50px;
}

.b-cooperative__sub-title {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.b-cooperative__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 950px;
  max-width: 100%;
  margin: 0 auto;
}

.b-cooperative__item {
  -ms-flex: 0 0 205px;
      flex: 0 0 205px;
  width: 205px;
  max-width: 205px;
  text-align: center;
  position: relative;
}

.b-cooperative__item:after {
  content: '';
  position: absolute;
  top: 85px;
  right: -85px;
  width: 32px;
  height: 32px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.b-cooperative__item:last-child:after {
  display: none;
}

.b-cooperative__head {
  width: 190px;
  height: 191px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  border-radius: 50%;
  background-color: #ede2bf;
  margin: 0 auto 15px;
  position: relative;
}

.b-cooperative__icon {
  font-size: 0;
  -ms-flex: 0 0 125px;
      flex: 0 0 125px;
  width: 125px;
  max-width: 125px;
}

.b-cooperative__icon img {
  max-width: 100%;
  height: auto;
}

.b-cooperative__number {
  font-size: 33px;
  color: #fff;
  font-weight: 700;
  width: 48px;
  height: 48px;
  background-color: #e5a154;
  border-radius: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  position: absolute;
  top: 7px;
  left: -10px;
}

.b-cooperative__desc {
  font-size: 18px;
  color: #000;
  font-weight: 400;
  line-height: 27px;
}

.b-form-popup {
  border-radius: 5px;
}

.b-form-popup__title {
  color: #171411;
  font-size: 33px;
  font-weight: 700;
  text-align: center;
  line-height: 50px;
  margin-bottom: 30px;
}

.b-form-popup__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
}

.b-form-popup__bot {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.b-form-popup__personal-data {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  width: 400px;
  max-width: 100%;
}

.b-form-popup__btn-send {
  min-width: 225px;
  border: none;
  cursor: pointer;
}

.b-form-popup__send-success {
  font-size: 24px;
  color: #171411;
  font-weight: 500;
  display: none;
}

.b-form-popup__send-success.success {
  display: block;
}

.b-form-popup__section.success {
  display: none;
}

.b-form-popup__item {
  width: 450px;
  max-width: 100%;
  margin-bottom: 20px;
}

.b-form-popup__item input,
.b-form-popup__item textarea {
  color: #171411;
  width: 100%;
  padding: 16px 10px 17px 20px;
  border: 1px solid #d6b58b;
  outline: none;
}

.b-form-popup__item textarea {
  min-height: 150px;
}

.b-form-popup__bot {
  -ms-flex-direction: column;
      flex-direction: column;
}

.b-form-popup__personal-data {
  color: #575757;
  -ms-flex-order: 1;
      order: 1;
}

.b-form-popup__btn-send {
  margin-bottom: 10px;
}

.remodal {
  padding: 25px;
}

.remodal-close:before {
  font-size: 35px;
  color: #f25d55;
}

.b-key-features {
  padding-top: 130px;
  padding-bottom: 155px;
}

.b-key-features__section {
  width: 1920px;
  max-width: 100%;
  margin: 0 auto;
}

.b-key-features__title {
  font-size: 39px;
  color: #171411;
  text-align: center;
  line-height: 48px;
  width: 780px;
  max-width: 100%;
  margin: 0 auto 115px;
  position: relative;
}

.b-key-features__title:before {
  content: '\00ab';
  position: absolute;
  top: -30px;
  left: -55px;
  color: #e5a154;
  font-size: 154px;
  font-weight: 800;
}

.b-key-features__title:after {
  content: '\00bb';
  position: absolute;
  right: -105px;
  bottom: 10px;
  color: #e5a154;
  font-size: 154px;
  font-weight: 800;
}

.b-key-features__title-eng {
  font-weight: 400;
  padding-left: 35px;
  display: block;
}

.b-key-features__title-rus {
  font-weight: 700;
  display: block;
}

.b-key-features__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.b-key-features__item--reverse-view {
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
}

.b-key-features__item--reverse-view .b-key-features__img {
  margin-right: 0;
  margin-left: 55px;
}

.b-key-features__item--reverse-view .b-key-features__body {
  text-align: right;
}

.b-key-features__img {
  -ms-flex: 0 0 775px;
      flex: 0 0 775px;
  width: 775px;
  max-width: 775px;
  margin-right: 55px;
}

.b-key-features__img img {
  max-width: 100%;
  height: auto;
}

.b-key-features__body {
  -ms-flex: 0 0 600px;
      flex: 0 0 600px;
  width: 600px;
  max-width: 600px;
}

.b-key-features__name {
  font-size: 30px;
  color: #171411;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 15px;
}

.b-key-features__text {
  font-size: 18px;
  color: #000;
  font-weight: 400;
  line-height: 27px;
}

.b-key-features__text p {
  margin: 0;
}

@media (min-width: 1024px) {
  .app-footer__item--contacts {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
}

@media (min-width: 1366px) {
  .b-bestsellers .owl-carousel .owl-prev {
    left: -30px;
  }

  .b-bestsellers .owl-carousel .owl-next {
    right: -30px;
  }
}

@media (min-width: 1406px) {
  .b-bestsellers .owl-carousel .owl-prev {
    left: -40px;
  }

  .b-bestsellers .owl-carousel .owl-next {
    right: -40px;
  }
}

@media (min-width: 1440px) {
  .app-header__hero {
    margin-left: 145px;
  }
}

@media (max-width: 1600px) {
  .app-header__section {
    background-position-y: 45px !important;
  }
}

@media (max-width: 1440px) {
  .b-key-features__body {
    -ms-flex: 0 0 550px;
        flex: 0 0 550px;
    width: 550px;
    max-width: 550px;
  }
}

@media (max-width: 1439px) {
  .b-key-features__img {
    -ms-flex: 0 0 675px;
        flex: 0 0 675px;
    width: 675px;
    max-width: 675px;
  }
}

@media (max-width: 1365px) {
  .b-key-features__img {
    -ms-flex: 0 0 475px;
        flex: 0 0 475px;
    width: 475px;
    max-width: 475px;
  }

  .b-key-features__body {
    -ms-flex: 0 0 450px;
        flex: 0 0 450px;
    width: 450px;
    max-width: 450px;
  }
}

@media (max-width: 1279px) {
  .b-bestsellers__item {
    padding: 35px;
  }
}

@media screen and (max-width: 1023px) {
  .b-form-popup__bot {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .b-form-popup__personal-data {
    text-align: center;
    margin-right: 0;
    margin-top: 15px;
    -ms-flex-order: 1;
        order: 1;
    width: 100%;
  }
}

@media (max-width: 1023px) {
  .app-footer__items {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .app-footer__bot-line {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .app-footer__logo {
    -ms-flex: 0 0 160px;
        flex: 0 0 160px;
    width: 160px;
    max-width: 160px;
  }

  .app-footer__phone {
    font-size: 28px;
  }

  .app-header__hero h1 {
    font-size: 45px;
    line-height: 45px;
  }

  .b-about-us {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .b-about-us__title {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .b-about-us__desc {
    font-size: 18px;
    line-height: 24px;
  }

  .b-bestsellers {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .b-cooperative {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .b-key-features {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .b-key-features__title {
    font-size: 28px;
    line-height: 35px;
    width: 560px;
    margin-bottom: 60px;
  }

  .b-key-features__item {
    display: block;
    text-align: center;
    margin-bottom: 25px;
  }

  .b-key-features__item:last-child {
    margin-bottom: 0;
  }

  .b-key-features__item--reverse-view .b-key-features__img {
    margin: 0 auto 20px;
  }

  .b-key-features__item--reverse-view .b-key-features__body {
    text-align: center;
  }

  .b-key-features__img {
    width: 450px;
    max-width: 100%;
    margin: 0 auto 20px;
  }

  .b-key-features__body {
    width: 100%;
    max-width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media screen and (max-width: 960px) {
  .b-form-popup__send-success {
    font-size: 18px;
  }
}

@media (max-width: 960px) {
  .app-header__header-line {
    position: fixed;
    margin-left: -50px;
    margin-right: -50px;
    background-color: #d6b58b;
    top: 0;
    left: 50px;
    padding: 10px 15px;
    width: 100%;
    max-width: 100%;
    z-index: 100;
    box-shadow: -1px 1px 20px 4px rgba(168,132,97,0.93);
  }

  .app-header__logo {
    -ms-flex: 0 0 130px;
        flex: 0 0 130px;
    width: 130px;
    max-width: 130px;
  }

  .app-header__navbar {
    display: none;
  }

  .app-header__hero {
    margin-top: 100px;
  }

  .b-burger-menu {
    display: block;
  }
}

@media (max-width: 959px) {
  .b-bestsellers__item {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 900px) {
  .b-cooperative__item:after {
    display: none;
  }
}

@media (max-width: 768px) {
  .b-bestsellers__title {
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 20px;
  }

  .b-cooperative__top {
    margin-bottom: 25px;
  }

  .b-cooperative__title {
    font-size: 28px;
  }

  .b-cooperative__sub-title {
    font-size: 20px;
  }

  .b-form-popup__title {
    font-size: 26px;
    line-height: 35px;
    margin-bottom: 20px;
  }

  .b-key-features__title:before,
  .b-key-features__title:after {
    font-size: 90px;
  }

  .b-key-features__title:before {
    top: -20px;
    left: -10px;
  }

  .b-key-features__title:after {
    right: -60px;
    bottom: 5px;
  }
}

@media (max-width: 720px) {
  .b-key-features__title {
    padding-right: 20px;
    padding-left: 20px;
  }

  .b-key-features__title:before,
  .b-key-features__title:after {
    display: none;
  }

  .b-key-features__title-eng {
    padding-left: 0;
  }
}

@media (max-width: 650px) {
  .b-cooperative__items {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .b-cooperative__item {
    margin-bottom: 20px;
  }

  .b-cooperative__item {
    -ms-flex: 0 0 300px;
        flex: 0 0 300px;
    width: 300px;
    max-width: 300px;
  }
}

@media (max-width: 640px) {
  .app-footer__items {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .app-footer__item {
    -ms-flex: none;
        flex: none;
    width: 100% !important;
  }

  .app-footer__title {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .app-footer__body {
    font-size: 16px;
  }

  .app-footer__body p {
    margin-bottom: 15px;
  }

  .app-footer__body p a {
    font-size: 16px;
  }

  .app-header__section {
    padding-right: 20px;
    padding-left: 20px;
  }

  .app-header__hero {
    width: 240px;
  }

  .app-header__hero h1 {
    font-size: 34px;
    line-height: 36px;
    margin-bottom: 30px;
  }

  .b-bestsellers {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .b-cooperative {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .b-key-features {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 480px) {
  .b-form-popup__btn-send {
    min-width: auto;
    width: 100%;
    margin-bottom: 5px;
  }
}

@media (max-width: 480px) {
  .app-header__section {
    padding-bottom: 60px;
  }

  .b-key-features__text {
    font-size: 16px;
  }
}

@media (max-width: 440px) {
  .app-footer__bot-line {
    display: block;
    text-align: center;
  }

  .app-footer__logo {
    margin: 0 auto;
  }

  .app-header__section {
    background: none !important;
  }

  .app-header__hero {
    width: 100%;
  }

  .b-cooperative__sub-title {
    font-size: 18px;
  }

  .b-key-features__title {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 20px;
  }
}

@media (max-width: 320px) {
  .b-burger-menu__nav {
    width: 320px;
    left: -266px;
  }
}