.b-burger-menu
    position relative
    display none

    @media (max-width 960px)
        display block

    &__btn
        width 38px
        height 38px
        padding 5px
        background-color #f25d55
        border none
        position relative
        outline none !important
        
        span
            &:before
                transform translateY(-5px)
            &:after
                transform translateY(5px)

        span,
        span:before,
        span:after
            position absolute
            top 50%
            left 50%
            margin-left -10px
            margin-top -1px
            width 20px
            height 2px
            background-color #fff

        span:before,
        span:after
            content ''
            display block
            transition 0.2s

        &.btn-active
            span
                height 0
                &:before
                    transform rotate(45deg)
                &:after
                    transform rotate(-45deg)

    &__nav
        width 300px
        padding 20px
        background-color #d6b58b
        position absolute
        left -247px
        top 55px
        box-shadow 0px 5px 20px 4px rgba(168, 132, 97, 0.93)
        display none

        @media (max-width 320px)   
            width 320px
            left -266px

        ul
            list-style-type none
            padding-left 0
            margin-bottom 0

            li
                margin-bottom 15px
                &:last-child
                    margin-bottom 0

                a
                    font-size 18px
                    color #171411
                    font-weight 400
                    line-height 24px
                    text-decoration none
                    display block
                    transition color .3s
                    &:hover
                        color #f25d55