<div block="b-burger-menu">
    <div elem="section">
        <button elem="btn" class="js-btn" type="button">
            <span></span>
        </button><!-- e:btn -->
        <nav elem="nav" class="js-nav-add js-nav-to-anchor"></nav><!-- e:nav -->
    </div><!-- e:section -->
</div><!-- b:b-burger-menu -->