<footer block="app-footer" id="contacts">
    <div elem="section" class="contain">
        <div elem="items">
            <div elem="item" mods="address">
                <div elem="title">Адреса</div>
                <div elem="body">
                    <p>
                        Офис: 121059, Москва, Бережковская <br>
                        наб. 20, стр. 5, 2 этаж, офис 216. <br>
                        Пн-пт 10:00-19:00
                    </p>
                    <p>
                        Склад: Москва, Амурская ул. 1, стр. 13, <br>
                        1 этаж, помещение 3. <br>
                        Ежедневно 09:00-19:00
                    </p>
                </div><!-- e:body -->
            </div><!-- e:item -->
            
            <div elem="item" mods="contacts">
                <div elem="title">Контакты</div>
                <div elem="body">
                    <p>
                        <a href="tel:88005503862">8 800 550 38 62</a><br>
                        <a href="mailto:sales@beauty2be.ru">sales@beauty2be.ru</a>
                    </p>

                    <div elem="sicial">
                        <div elem="name"> Мы в соцсетях:</div><!-- e:name -->
                        <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                        <a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://vk.com"><i class="fab fa-vk"></i></a>
                    </div><!-- e:sicial -->
                </div><!-- e:body -->
            </div><!-- e:item -->

            <div elem="item" mods="feedback">
                <div elem="title">Обратная связь</div>
                <div elem="body">
                    <p>
                        Напишите нам — и мы ответим на все ваши вопросы!
                    </p>
                    <a elem="btn" class="site-btn" href="#" data-remodal-target="modal">Оставить заявку</a>
                </div><!-- e:body -->
            </div><!-- e:item -->
        </div><!-- e:items -->
    </div><!-- e:section -->
    <div elem="bot-line">
        <div elem="logo"><img src="img/logo-footer.png" alt=""></div>
        <a elem="phone" href="tel:88005503862">8 800 550 38 62</a></div>
    </div><!-- e:bot-line -->
</footer><!-- b:app-footer -->
