.app-footer
    flex none
    background-color #ede1be

    &__items
        display flex
        justify-content space-between
        flex-wrap wrap
        width 1035px
        max-width 100%
        padding-top 95px
        padding-bottom 120px
        margin 0 auto

        @media (max-width 1023px)
            padding-top 50px
            padding-bottom 50px 

        @media (max-width 640px)
            padding-top 25px
            padding-bottom 25px     

    &__item 

        &--address
            flex 0 0 335px
            width 335px
            max-width 335px 

        &--contacts
            flex 0 0 180px
            width 180px
            max-width 180px

            @media (min-width 1024px) 
                transform: translateX(-20px);

        &--feedback
            flex 0 0 280px
            width 280px
            max-width 280px

        @media (max-width 640px)
            flex none
            width 100% !important    


    &__title
        font-size 33px
        color #171411
        font-weight 700 
        margin-bottom 20px   

        @media (max-width 640px)
            font-size 28px
            margin-bottom 10px

    &__body
        font-size 18px
        color #000
        font-weight 400
        line-height 27px

        @media (max-width 640px)
            font-size 16px

        p
            margin-bottom 35px
            &:last-child
                margin-bottom 0

            @media (max-width 640px)
                margin-bottom 15px    

            a
                font-size 18px
                color #000
                font-weight 400
                line-height 27px
                text-decoration none

                @media (max-width 640px)
                    font-size 16px     
                    
    &__bot-line
        padding 40px 0
        background-color #332723
        display flex
        align-items center
        justify-content center

        @media (max-width 1023px)
            padding-top 20px
            padding-bottom 20px 

        @media (max-width 440px)    
            display block
            text-align center

    &__logo
        flex 0 0 193px
        width 193px
        max-width 193px
        margin-right 40px


        img 
            max-width 100%
            height auto

        @media (max-width 1023px)
            flex 0 0 160px
            width 160px
            max-width 160px

        @media (max-width 440px)   
            margin 0 auto

    &__phone
        font-size 34px
        color #f8f4eb
        font-weight 400
        text-decoration none

        @media (max-width 1023px)
            font-size 28px
    
    &__name
        margin-bottom 10px        
    
    &__sicial
        a   
            display inline-block
            vertical-align top  
            margin-right 15px
            margin-bottom 5px

            .fab
                font-size 24px 
                color #f25d55 
                transition color .3s

            &:hover
                .fa-instagram
                    color #ff0084

                .fa-facebook-f
                    color #3b5999

                .fa-vk 
                    color #4c75a3