.b-about-us
    background-color #fdfbf6
    padding-top 65px
    padding-bottom 75px
    text-align center

    @media (max-width 1023px)
        padding-top 25px
        padding-bottom 25px

    &__title
        color #171411
        font-size 33px
        font-weight 700
        line-height 24px
        margin-bottom 25px

        @media (max-width 1023px)
            font-size 28px
            margin-bottom 15px

    &__desc
        color #000000
        font-size 23px
        font-weight 400
        line-height 36px

        @media (max-width 1023px)
            font-size 18px
            line-height 24px

        p
            margin 0



