<section block="b-about-us" id="about-us">
    <div elem="section" class="contain">
        <h2 elem="title">О нас</h2><!-- e:title -->
        <div elem="desc">
            <p>
                Мы являемся единственными эксклюзивными дистрибьюторами Secret Key на территории <br> России и Беларуси, поэтому покупать у нас продукцию выгодно, а главное надежно!
            </p>
        </div><!-- e:desc -->
    </div><!-- e:section -->
</section><!-- b:b-about-us -->