<div block="b-form-popup" class="remodal" data-remodal-id="modal">
    <button data-remodal-action="close" class="remodal-close"></button>
    <div elem="section">
        <form elem="form" action="">

            <div elem="title">Оставить заявку</div>

            <div elem="items">
                <div elem="item">
                    <input type="text" name="" placeholder="Ваше имя*" required>
                </div><!-- e:item -->
                <div elem="item">
                    <input type="tel" class="phone_us" name="" placeholder="Ваш телефон*" required maxlength="18">
                </div><!-- e:item -->
                <div elem="item">
                    <input type="email" name="" placeholder="Ваш Email*" required>
                </div><!-- e:item -->
                <div elem="item">
                    <textarea placeholder="Сообщение (не обязательно)" name=""></textarea>
                </div><!-- e:item -->
            </div><!-- e:items -->
            <div elem="bot">
                <div elem="personal-data">Нажимая на кнопку "Отправить", я даю согласие на обработку персональных данных</div><!-- e: -->
                <button elem="btn-send" class="site-btn" type="submit">Отправить</button>
            </div><!-- e:bot -->
        </form><!-- e:form -->
    </div><!-- e:section -->
    <div elem="send-success">Спасибо! Ваше сообщение отправлено</div><!-- e:send-success -->
</div><!-- b:b-form-popup -->