.b-form-popup
    border-radius 5px

    &__title
        color #171411
        font-size 33px
        font-weight 700 
        text-align center 
        line-height 50px
        margin-bottom 30px

        @media (max-width 768px)
            font-size 26px
            line-height 35px
            margin-bottom 20px
    
    &__items
        display flex
        flex-wrap wrap
        justify-content center

    &__bot
        display flex
        align-items center

        @media screen and (max-width 1023px)
            flex-direction column

    &__personal-data
        font-size 14px
        color #fff
        font-weight 400
        width 400px
        max-width 100%

        @media screen and (max-width 1023px)
            text-align center
            margin-right 0
            margin-top 15px
            order 1
            width 100%

    &__btn-send
        min-width 225px
        border none
        cursor pointer

    &__send-success
        font-size 24px
        color #171411
        font-weight 500
        display none
        &.success
            display block

        @media screen and (max-width 960px)
            font-size 18px

    &__section
        &.success
            display none

    &__item 
        width 450px
        max-width 100%
        margin-bottom 20px 

        input,
        textarea
            color #171411
            width 100%
            padding 16px 10px 17px 20px
            border 1px solid #d6b58b
            outline none
        
        textarea
            min-height 150px

    &__bot
        flex-direction column

    &__personal-data
        color #575757
        order 1

    &__btn-send
        margin-bottom 10px

        @media screen and (max-width 480px)    
            min-width auto
            width 100%
            margin-bottom 5px

.remodal
    padding 25px

.remodal-close
    &:before
        font-size 35px
        color #f25d55