<!doctype html>
<html lang="{{app.lang}}">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="cleartype" content="on">

        <meta name="theme-color" content="{{ app.stylus.theme_color }}">

        <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
        <meta name="format-detection" content="telephone=no">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="msapplication-tap-highlight" content="no">

        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <meta name="MobileOptimized" content="320">
        <meta name="HandheldFriendly" content="True">
        
        {# Open Graph #}
        <!-- Primary Meta Tags -->
        <meta name="title" content="{{ pageTitle}} - {{ app.package.name | capitalize}} v{{ app.package.version }}">
        <meta name="description" content="{{ app.package.description }}">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://github.com/solversgroup/marmelad">
        <meta property="og:title" content="{{ pageTitle}}">
        <meta property="og:description" content="{{ app.package.description }}">
        <meta property="og:image" content="https://avatars0.githubusercontent.com/u/41577953?s=200&amp;v=4">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://github.com/solversgroup/marmelad">
        <meta property="twitter:title" content="{{ pageTitle}}">
        <meta property="twitter:description" content="{{ app.package.description }}">
        <meta property="twitter:image" content="https://avatars0.githubusercontent.com/u/41577953?s=200&amp;v=4">
        {# Open Graph End #}

        <title>{{ pageTitle}} - {{ app.package.name | capitalize}} v{{ app.package.version }}</title>
        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/plugins.min.css">
        <link rel="stylesheet" href="css/style.css">

    </head>

    <body block="app" mods="{{ bodyMods }}" mix="block:{{bodyClasses}}">

        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        

        <div elem="wrapper" mix="block:{{scrollFixClasses}}">
            
            {% if layout.header %}
            {% include 'app-header.html' %}
            {% endif %}

            <div elem="content" mix="block:{{contentClasses}}">

                <main elem="main">
                    {% block main %}{% endblock %}
                </main><!-- e:main -->
                
                {% if layout.left %}
                <aside elem="aside" mods="left">
                    {% block asideLeft %}{% endblock %}
                </aside><!-- e:aside m:left -->
                {% endif %}

                {% if layout.right %}
                <aside elem="aside" mods="right">
                    {% block asideRight %}{% endblock %}
                </aside><!-- e:aside m:right -->
                {% endif %}

            </div><!-- b:m-content -->
            
            {% if layout.footer %}
            {% include 'app-footer.html' %}
            {% endif %}

        </div><!-- b:wrapper -->

        {# {% include 'page-scroller.html' %} #}

        {% include "form-popup.html" %}

        <script src="js/vendors/jquery-3.2.1.min.js"></script>
        <script src="js/plugins.min.js"></script>
        <script src="js/app.js"></script>
    
    </body><!-- b:w-page -->
</html>
