.b-key-features
    padding-top 130px
    padding-bottom 155px

    @media (max-width 1023px)
        padding-top 50px
        padding-bottom 50px

    @media (max-width 640px)
        padding-top 25px
        padding-bottom 25px     

    &__section
        width 1920px
        max-width 100%
        margin 0 auto

    &__title
        font-size 39px
        color #171411
        text-align center
        line-height 48px
        width 780px
        max-width 100%
        margin 0 auto 115px
        position relative
        &:before
            content '\00ab'
            position absolute
            top -30px
            left -55px
            color #e5a154
            font-size 154px
            font-weight 800
        &:after
            content '\00bb'
            position absolute
            right -105px
            bottom 10px
            color #e5a154
            font-size 154px
            font-weight 800    

        @media (max-width 1023px)
            font-size 28px
            line-height 35px
            width 560px
            margin-bottom 60px

        @media (max-width 768px)
            &:before,
            &:after
                font-size 90px

            &:before
                top -20px
                left -10px
            &:after  
                right -60px
                bottom 5px

        @media (max-width 720px)
            padding-right 20px
            padding-left 20px    

            &:before,
            &:after
                display none

        @media (max-width 440px)   
            font-size 22px
            line-height 30px
            margin-bottom 20px        

    &__title-eng
        font-weight 400
        padding-left 35px
        display block

        @media (max-width 720px)   
            padding-left 0

    &__title-rus
        font-weight 700
        display block

    &__item
        display flex
        align-items center

        @media (max-width 1023px)
            display block
            text-align center
            margin-bottom 25px
            &:last-child 
                margin-bottom 0

        &--reverse-view
            flex-direction row-reverse

            & ^[0]
                &__img
                    margin-right 0
                    margin-left 55px

                    @media (max-width 1023px)
                        margin 0 auto 20px 

                &__body
                    text-align right    

                    @media (max-width 1023px)
                        text-align center 

    &__img
        flex 0 0 775px
        width 775px
        max-width 775px
        margin-right 55px

        @media (max-width 1439px)
            flex 0 0 675px
            width 675px
            max-width 675px

        @media (max-width 1365px)
            flex 0 0 475px
            width 475px
            max-width 475px

        @media (max-width 1023px)
            width 450px
            max-width 100%
            margin 0 auto 20px 

        img 
            max-width 100%
            height auto

    &__body
        flex 0 0 600px
        width 600px
        max-width 600px

        @media (max-width 1440px)
            flex 0 0 550px
            width 550px
            max-width 550px

        @media (max-width 1365px)
            flex 0 0 450px
            width 450px
            max-width 450px

        @media (max-width 1023px)
            width 100%
            max-width 100%    
            padding-left 25px
            padding-right 25px

    &__name
        font-size 30px
        color #171411
        font-weight 700
        line-height 24px       
        margin-bottom 15px 

    &__text
        font-size 18px
        color #000
        font-weight 400
        line-height 27px

        @media (max-width 480px)
            font-size 16px

        p
            margin 0