<section block="b-key-features">
    <div elem="section">
        <h2 elem="title">
            <span elem="title-eng">The key to uncover a beauty secret —</span>
            <span elem="title-rus">Ключ, открывающий секрет красоты</span>
        </h2><!-- e:title -->

        <div elem="items">
            <div elem="item">
                <div elem="img"><img src="img/key-features-img.png" alt=""></div><!-- e:img -->
                <div elem="body">
                    <div elem="name">Философия</div><!-- e:name -->
                    <div elem="text">
                        <p>
                            Secret Key — молодой, но уже популярный южнокорейский бренд. Его главный принцип: «потребители не должны пользоваться небезопасной для кожи косметикой». Именно поэтому базовые компоненты средств Secret Key — природные и экологически чистые. Также марка заботится об окружающей среде и не тестирует косметику на животных. 
                        </p>
                    </div><!-- e:text -->
                </div><!-- e:body -->
            </div><!-- e:item -->

            <div elem="item" mods="reverse-view">
                <div elem="img"><img src="img/key-features-img2.png" alt=""></div><!-- e:img -->
                <div elem="body">
                    <div elem="name">Исследования</div><!-- e:name -->
                    <div elem="text">
                        <p>
                            В 2010 году компания Secret Key открыла собственную исследовательскую лабораторию, что позволило ей занять лидирующие позиции на азиатском рынке косметологии. Вся продукция — это уникальные разработки марки. 
                        </p>
                    </div><!-- e:text -->
                </div><!-- e:body -->
            </div><!-- e:item -->

            <div elem="item">
                <div elem="img"><img src="img/key-features-img3.png" alt=""></div><!-- e:img -->
                <div elem="body">
                    <div elem="name">Бестселлеры</div><!-- e:name -->
                    <div elem="text">
                        <p>
                            Визитная карточка бренда — серия гидрогелевых патчей для глаз Racoony с изображением енота. Также популярностью пользуются серия Black Out Pore для спасения от черных точек (пузырьковые маски, маски-пленки, многоступенчатые системы очищения) и линейка с улиточным муцином.
                        </p>
                    </div><!-- e:text -->
                </div><!-- e:body -->
            </div><!-- e:item -->
        </div><!-- e:items -->
    </div><!-- e:section -->
</section><!-- b:b-key-features -->