<section block="b-bestsellers" id="bestsellers">
    <div elem="section" class="contain">
        <h2 elem="title">Хиты продаж</h2>
        <div elem="items" class="js-bestsellers-slider owl-carousel">
            <div elem="item">
                <div elem="top">
                    <div elem="img"><img src="img/bestsellers-img.png" alt=""></div><!-- e:img -->
                    <div elem="name">Гидрогелевые патчи <br> Gold Racoony</div><!-- e:name -->
                    <div elem="desc">
                        <p>
                            Бестселлер бренда - те самые патчи с енотиком, которые появились на рынке первыми!
                            В коробке 60 патчей для глаз и 30 - для точечного применения. 
                        </p>
                    </div><!-- e:desc -->
                </div><!-- e:top -->
                <div elem="bot">
                    <div elem="price">РРЦ 1550<i class="fas fa-ruble-sign"></i></div><!-- e:price -->
                </div><!-- e:bot -->
            </div><!-- e:item -->

            <div elem="item">
                <div elem="top">
                    <div elem="img"><img src="img/bestsellers-img2.png" alt=""></div><!-- e:img -->
                    <div elem="name">Гидрогелевые патчи <br> Gold Racoony</div><!-- e:name -->
                    <div elem="desc">
                        <p>
                            Бестселлер бренда - те самые патчи с енотиком, которые появились на рынке первыми!
                            В коробке 60 патчей для глаз и 30 - для точечного применения. 
                        </p>
                    </div><!-- e:desc -->
                </div><!-- e:top -->
                <div elem="bot">
                    <div elem="price">РРЦ 1550<i class="fas fa-ruble-sign"></i></div><!-- e:price -->
                </div><!-- e:bot -->
            </div><!-- e:item -->

            <div elem="item">
                <div elem="top">
                        <div elem="img"><img src="img/bestsellers-img3.png" alt=""></div><!-- e:img -->
                    <div elem="name">Гидрогелевые патчи <br> Gold Racoony</div><!-- e:name -->
                    <div elem="desc">
                        <p>
                            Бестселлер бренда - те самые патчи с енотиком, которые появились на рынке первыми!
                            В коробке 60 патчей для глаз и 30 - для точечного применения. 
                        </p>
                    </div><!-- e:desc -->
                </div><!-- e:top -->
                <div elem="bot">
                    <div elem="price">РРЦ 1550<i class="fas fa-ruble-sign"></i></div><!-- e:price -->
                </div><!-- e:bot -->
            </div><!-- e:item -->
            
            <div elem="item">
                <div elem="top">
                        <div elem="img"><img src="img/bestsellers-img3.png" alt=""></div><!-- e:img -->
                    <div elem="name">Гидрогелевые патчи <br> Gold Racoony</div><!-- e:name -->
                    <div elem="desc">
                        <p>
                            Бестселлер бренда - те самые патчи с енотиком, которые появились на рынке первыми!
                            В коробке 60 патчей для глаз и 30 - для точечного применения. 
                        </p>
                    </div><!-- e:desc -->
                </div><!-- e:top -->
                <div elem="bot">
                    <div elem="price">РРЦ 1550<i class="fas fa-ruble-sign"></i></div><!-- e:price -->
                </div><!-- e:bot -->
            </div><!-- e:item -->

        </div><!-- e:items -->
    </div><!-- e:section -->
</section><!-- b:b-bestsellers -->