.b-bestsellers
    padding-top 80px
    padding-bottom 110px
    background-color #fdfbf6

    @media (max-width 1023px)
        padding-top 50px
        padding-bottom 50px

    @media (max-width 640px)
        padding-top 25px
        padding-bottom 25px    

    &__section
        width 1290px    

    &__title
        color #171411
        font-size 33px
        font-weight 700 
        text-align center 
        line-height 50px
        margin-bottom 40px

        @media (max-width 768px)
            font-size 28px
            line-height 35px
            margin-bottom 20px

    &__items
        position relative

    .owl-carousel 

        .owl-stage-outer
            max-width 100%
            margin-left auto
            margin-right auto

        .owl-stage  
            display flex
            padding-bottom 15px
        
        .owl-item
            display flex

        .owl-prev,
        .owl-next  
            position absolute
            width 32px
            height 32px
            border-left 1px solid #000
            border-bottom 1px solid #000

        .owl-prev
            top 50%
            left 0
            transform rotate(45deg)

            @media (min-width 1366px)    
                left -30px

            @media (min-width 1406px)
                left -40px

        .owl-next
            top 50%
            right 0
            transform rotate(-135deg)

            @media (min-width 1366px)    
                right -30px

            @media (min-width 1406px)
                right -40px

    &__item
        color #000
        display flex
        flex-direction column
        width 100%
        max-width 100%
        padding 50px
        background-color #fff
        box-shadow 7px 6px 7px 1px rgba(201, 194, 187, 0.16)

        @media (max-width 1279px)

            padding 35px

        @media (max-width 959px)
            width 100%
            max-width 100%

    &__img
        width 253px
        max-width 100%
        margin 0 auto 35px
        border-radius 50%
        overflow hidden

        img 
            max-width 100%
            height auto

    &__top
        flex 1 1 auto

    &__name
        font-size 20px
        font-weight 700
        line-height 25px  
        margin-bottom 10px  

    &__desc
        font-size 18px
        font-weight 300
        line-height 25px    
        margin-bottom 15px
        
        p
            margin 0

    &__price
        font-size 20px
        font-weight 700
        line-height 25px    

        .fa-ruble-sign
            font-size 18px